body{
    background-color: #495579;
}
header{
    color:#FFFBEB;
    background-color: #263159;
    display: flex;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header p{
    color: #FFFBEB;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;;
}
header img{
    height: 2rem;
}

footer img{
    height: 2rem;
}
.primer-panel, .segundo-panel{
    background-color: #FFFBEB;
    border: 4px solid #251749;
}
.eslogan, .cta, .imagenPortada, .textoPortada{
    text-align: center;
    align-items: baseline;
    justify-content: center;
    font-size: 2em;
    padding: 7%;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;;
}
.tabla{
    text-align: center;
    padding: 15%;
    border:4px solid #251749;
}
.buscador{
    margin: 2%;
}
