body {

    background-image: url("img/background-white-colorBueno.png");
    background-size: contain;
    background-color: #FFFBEB;


}

header {
    color: #FFFBEB;
    background-color: #263159;
    display: flex;
    justify-content: space-around;
    font-family: 'Laila', serif;
    background-size: cover;

}

.btn {
    color: #FFFBEB;
    background-color: #251749;
    border: #251749 4px solid;



}

.btn:hover {
    color: #251749;
    border: #251749 4px solid;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #263159;
    background-size: cover;
    color: #FFFBEB;
}


.primer-panel {
    min-height: max-content;
}

.eslogan,
.cta,
.imagenPortada,
.textoPortada {
    text-align: center;
    justify-content: center;
    font-size: 3em;
    font-family: 'Laila', serif;
    height: 6em;
    flex-shrink: 0;
}

.textoPortada {
    font-size: large;
    background-color: #263159;

}

.eslogan {
    color: #251749;
}

.cta,
.textoPortada {
    color: #FFFBEB;
    align-self: flex-end;
}

.botonera {
    align-items: center;
    gap: 1em;
    justify-content: center;
}

thead>tr {
    background-color: #251749;
    color: #FFFBEB;
}

tr {
    border: #251749 9px;
}

tbody>tr:hover p {
    color: #FFFBEB;
}

tbody>tr:hover {
    background-color: #251749;
}



@media (max-width: 766px) {
    .cta {
        height: 1em;
    }
}

.play:hover {
    animation: botonPlay 0.5s forwards;
}

@keyframes botonPlay {
    100% {
        transform: scale(2);
    }
}

.reproductor-completo{
    background-color: #263159;
    color: #FFFBEB;
    border: black 2px;
    display: block;
}

.reproductor-completo {
    position: fixed; 
    top: 25%; 
    left: 75%;  
  }
  




