body {

    background-image: url("img/richard-horvath-azul-claro-grande.jpg");
    background-size: cover;
    
}

header {
    color: #FFFBEB;
    background-image: url("img/richard-horvath-_nWaeTF6qo0-unsplash.jpg");
    display: flex;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}



header img {
    height: 2rem;
}

footer{
  display: flex;
  justify-content: space-around;
    background-image: url("img/richard-horvath-_nWaeTF6qo0-unsplash.jpg");
    color: #FFFBEB;
}
footer img{
    height: 2rem;
}

.primer-panel,
.segundo-panel {
  /* background-color: white;
    opacity: 70%;
    border: #251749 4px;
*/
color: #FFFBEB;
}

.primer-panel {
    min-height: max-content;
}

.eslogan,
.cta,
.imagenPortada,
.textoPortada {
    text-align: center;
    justify-content: center;
    font-size: 3em;
    font-family: 'Laila', serif;
    height: 6em;
}

.botonera{
    align-items: center;
    gap: 1em;
    justify-content: center;
}


.tabla {
    text-align: center;
    padding: 15%;
    border: 4px solid #251749;
}

.buscador {
    margin: 2%;
    height: auto;
}