/*
TODO: 
*/

body {

    background-image: url("./img/background.png");
    background-size: contain;
    background-color: #FFFBEB;
    position: relative;


}

header {
    color: #FFFBEB;
    background-color: #263159;
    display: flex;
    justify-content: space-around;
    font-family: 'Laila', serif;
    background-size: cover;

}

.btn {
    color: #FFFBEB;
    background-color: #251749;
    border: #251749 4px solid;
}

.btn:hover {
    color: #251749;
    border: #251749 4px solid;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #263159;
    background-size: cover;
    color: #FFFBEB;
}


.primer-panel {
    min-height: max-content;
    display: flex;
    flex-direction: column;
}

.eslogan {
    margin-top: 20%;
    font-family: 'Laila', serif;
    margin-bottom: 10%;
    flex-shrink: 1;
    text-align: center;
    color: #251749;
}
.palabra-mejores-eslogan{
    background-color: #251749;
    color: #FFFBEB;
    opacity: 0.85;
}

.cta {
    margin-bottom: 10%;
}

.imagen-portada {
    width: 60%;
    border: #263159 5px solid;
}

.buscador {
    border: #251749 3px solid;
}

.botonera {
    align-items: center;
    gap: 1em;
    justify-content: center;
}

thead>tr {
    background-color: #251749;
    color: #FFFBEB;
}

tr {
    border: #251749;
}

tbody>tr:hover p {
    color: #FFFBEB;
}

tbody>tr:hover {
    background-color: #251749;
    color: #FFFBEB;
    cursor: pointer;
}




@media (max-width: 766px) {

    /*Aquí los cambios para movil*/

    .cta {
        padding-top: 2em;
        height: 1em;

    }

    .eslogan {
        font-size: 2em;
    }

    .imagen-reproductor {
        max-width: 5em;
        min-width: 5em;
        max-height: 5em;
        margin-right: 0.8em;
        align-self: center;
    }

    .titulo-reproductor {
        font-size: 1.5em;
        text-align: start;
        display: flex;
        white-space: nowrap;
    }

    .reproductor-completo {
        max-width: fit-content;
        min-width: fit-content;
        max-height: fit-content;
        min-height: fit-content;
        margin-left: 7.5%;
        padding: 0.2em 0.4em;
    }

    .titulo-y-boton {
        justify-content: space-around;
    }

    .fecha-tabla {
        display: hidden;
    }

    th:nth-child(4),
    td:nth-child(4) {
        display: none;
    }


}
@media (max-width: 445px) {

    /*Aquí los cambios para pantallas muy pequeñas*/
    .reproductor-completo {
        margin-left: 0%;
    }
    .imagen-reproductor {
        max-width: 4em;
        min-width: 4em;
        max-height: 4em;
        margin-right: 0.4em;
        border: none;
        align-self: center;
    }
    .frase-header{
        font-size: medium !important;
    }
}

@media (min-width: 767px) {

    /*Aquí los cambios para ordenador*/



    .eslogan {
        font-size: 3em;
    }

    .imagen-reproductor {
        max-width: 6em;
        min-width: 6em;
        max-height: 6em;
        margin-right: 1em;
        align-self: center;
    }

    .titulo-reproductor {
        font-size: 1.5em;
        text-align: start;
        display: flex;
        white-space: nowrap;
    }

    .reproductor-completo {
        max-width: fit-content;
        min-width: fit-content;
        max-height: fit-content;
        min-height: fit-content;
        margin-left: 20%;
        padding: 0.4em 0.8em;
    }

    .titulo-y-boton {
        justify-content: space-around;
    }
}



.modal-content {
    background-image: url('./img/imagenModal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFBEB;
    border: #251749 4px solid;
    opacity: 0.9;
}



.reproductor-completo {
    background-color: rgba(38, 49, 89, 0.96);
    color: #FFFBEB;
    border: #251749 solid 4px;
    margin-bottom: 2%;
    flex-wrap: nowrap;
    display: none;
}

.imagen-reproductor {

    border: #251749 solid 4px;
}

.boton-cerrar-reproductor,
.boton-cerrar-modal {
    color: #FFFBEB;
    background-color: #FFFBEB;
}